.Login>.back-login
{
    background-image: url("./background-cedoc-login.png");
    background-size: cover;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login>.back-login>.form
{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 665px;
}

.Login>.back-login>.form>.container
{
    margin-top: 130px;
    text-align: center;
    color: white;
}

.Login>.back-login>.form>.container>.formulaire
{
    background-color: rgba(12, 136, 153,0.5);
    margin-right: 250px;
    margin-left: 250px;
    padding: 12px;
    padding-top: 50px;
    box-shadow: 5px 10px 18px rgba(12, 136, 153,0.5);
}

.Login>.back-login>.form>.container>.formulaire .inp1
{
    width: 350px;
    background-color: #86d0da ;
    border : 0;
    height: 30px;
}

.Login>.back-login>.form>.container>.formulaire>.show
{
    margin-right: 220px;
}

.Login>.back-login>.form>.container>.formulaire button
{
    background-color: black;
    color: white;
    width: 250px;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 992px)
{
    .Login>.formulaire
    {
        margin-right: 0;
        margin-left: 0;
    }
}