.navigation{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    font-family: 'Lucida Console', Monaco, monospace;

}
.logo{
    align-self: flex-start;
    border-radius: 40% ;
}

.text-logo{
    color: white;
}




.mid-li{
    height: 85px;
    width: 25%;

    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 28px;
}

.mid-li:hover{
    background-color: deepskyblue;
    color: black;
}



.mid-nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.search-bar{
    height: 85px;
    width: 250px;
    display: flex;
    align-items: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#login{
    text-align: center;
    padding: 14px 16px;
    font-size: 24px;
    color: deepskyblue;
}

.left-nav{
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.emi-logo{
    align-self: flex-end;
}

.right-nav{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}