.navigation{
    width: 100%;
    height: 65px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    font-family: Comic Sans MS, Comic Sans, cursive;

}
.logo{
    align-self: flex-start;
    border-radius: 40% ;
}
.logoImageAcu{
    margin-left: 70px;
}
.text-logo{
    color: white;
}

.mid-li{
    height: 65px;
    width: 25%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;

}

.dropdown-content-structures {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    height: 195px;
    width: 285.45px;
    z-index: 1;
    left:0;
    top:65px;
}
.dropdown-content-doctorant{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    height: 125px;
    width: 285.45px;
    z-index: 1;
    left:0;
    top:65px;
}
.d {
    height: 65px;
    width: 285.45px;
    align-items: center;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    background-color: #282c34;
}



.dropdown:hover .dropdown-content-structures {
    display: block;
}
.dropdown:hover .dropdown-content-doctorant {
    display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.d:hover {
    background-color: deepskyblue;
    color: black;
}


.mid-li:hover{
    background-color: deepskyblue;
    color: black;

}

.mid-nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.search-bar{
    height: 65px;
    width: 250px;
    display: flex;
    align-items: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#login{
    text-align: center;
    padding: 14px 16px;
    font-size: 24px;
    color: deepskyblue;
    text-decoration: none;
}

.left-nav{
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;

}

.emi-logo{
    align-self: flex-end;
}

.right-nav{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


