.AuthPage{

}
.AuthPage>.login{
    position: relative;
}
.AuthPage>.login>.bg{
    position: absolute;
    height: 91vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.AuthPage>.login>.formLogin{
    height: 91vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthPage>.login>.formLogin{
    
}
