.welcome-page{
    background-image: url("./background-cedoc-home.png");
    height: 885px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-card{
    width:600px;
    height: 300px;
    background: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    padding: 80px;
    border : 1px solid gray;
    position: relative;
}

.read-more-button{
    padding: 8px;
    width: 150px;
    border-radius: 10%;
    cursor: pointer;
}
.read-more-button:hover{
    background-color: deepskyblue;
}

.particles {
    position: absolute;
    width: 600px;
    height: 225px;
    opacity: 0.5;
    top:0;
    bottom: 0;
    left: 0;
}
